@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: theme('colors.accent');
}

html, body, #__next { height: 100%; }
body { @apply bg-white text-slate-900 antialiased; }
.container { max-width: 1100px; margin-left: auto; margin-right: auto; }
